#navbarAllproducts{
    background-color: #6357f6; ;
    
}

#botonesLink{
    text-decoration: none;
    margin: 5px;
    color: black;

}

#menuNavbar{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}


#botonesStyle{
    background-color: #6357f6;
    color: white;
    width: 100%;
}

#botonStyleDisable{
    background-color: white;
    color: #3a354d;
    font-weight: bold;
    border-radius: 0;
    width: 100%;
    margin-top: 3px;
    box-shadow: none;
}

#textoNavbar{
    overflow: hidden;
    white-space:nowrap;
    animation: cambiar 15s infinite;
}

@keyframes cambiar {
    0%{margin-right: -150%}

    40%{margin-right: 0}
    50%{margin-right: 0}
    60%{margin-right: 0}

    100%{margin-right: 150%}
}
