.containerEmpleos{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.containterCardEmpleos{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            345px, 1fr
        )
    );
    gap: 25px;
}

.containterFiltrosEmpleos{
    display: flex;
    align-items:flex-start;
    height: 100%;
    position: fixed;
    left: 0;
}

#filtrosEmpleos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 250px;
    margin-top: 100px;
    border-radius: 0 20px 20px 0 ;
    background-color:rgb(255, 154, 6) !important;
    ;
}

.filtrosEmpleosCasilla{
    background-color: #fff;
}

#filtrosEmpleosTitulo{
    color: #fff;
    margin: 0 auto;
}
/* -------------  EMPLEOS DETAIL   ---------------------- */

.containterEmpleoDetail{
    color: black;
    margin-left: 5%;
}


#botonVolverEmpleoDetail{
    margin-top: 30px;
    padding: 15px ;
    background-color: #eaf3fb ;
}


.containerEmpleo{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.EmpleoDetalle{
    width: 50%;
}


.titulosEmpleoDetail{
    margin: 5% 0;
    font-size: 20px;
}

.descripcionEmpleoDetail{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.descripcionEmpleoDetailParrafo{
margin: 40px 0;
}

.cardEmpleo{
    width: 400px;
    height: 500px;
    background-color: #eaf3fb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.cardEmpleoEmpresa{
    height: 180px;
}
.cardEmpleoFoto{
    width: 100px;
    border-radius: 100%;
}

.cardEmpleoBotonDiv{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.cardEmpleoBoton{
    width: 30%;
    color: #fff !important;
    background-color: rgb(255, 154, 6) !important;
    border-radius: 10px !important;
}
.cardEmpleoBotonGuardar{
    width: 20%;
    background-color: #bcdcfd !important;
    border-radius: 5px!important;
}

.empresaEmpleoDetail{
    font-size: 20px;
}
.empresaEmpleoDetailParrafo{
margin: 15px 0;
}

.iconosEmpresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.ofertasSimilares{
    margin-top: 80px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            345px, 1fr
        )
    );
    gap: 25px;
}