*{
  margin: 0;
}

.home{
  width: 100%;
  color: white;
  display: flex;
}
/* MITAD FONDO DE IMG O VIDEO + BOTON ABOUT <NOMBRE DE LA PAGINA> */
.home-imgAndButton{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./media/img/pexels-fauxels-3183165.jpg');
  background-size: cover;
}

.home-button__about{
  margin: 5%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: blue;
}

/* video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} */

.capa{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black;
  opacity: 0.5;
  mix-blend-mode: overlay;
  z-index: 1;
}

/* MITAD NOMBRE DE LA EMPRESA + BOTON LOGIN Y SIGN UP */
.home-buttonsLogAndSign{
  width: 50%;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr;
}

.home-button__login{
  margin: 5%;
}

.home-button__signUp{
  margin: 5%;
}